apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "backend.fullname" . }}-config
  labels:
    {{- include "backend.labels" . | nindent 4 }}
data:
  cors-origins: {{ .Values.env.CORS_ORIGINS | quote }}
  app-name: {{ .Values.env.APP_NAME | quote }}
  debug: {{ .Values.env.DEBUG | quote }}
  jwt-algorithm: {{ .Values.env.JWT_ALGORITHM | quote }}
  jwt-access-token-expire-minutes: {{ .Values.env.JWT_ACCESS_TOKEN_EXPIRE_MINUTES | quote }}
