apiVersion: v1
kind: Service
metadata:
  name: todo-notifications
  namespace: production
  labels:
    app: todo-notifications
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: todo-notifications
